.settings/*
.buildpath
.project
.idea/*
/build/bin
/build/build.properties
/build/buildlang
/build/phingext
/build/templates/release.json
/build/tools
/component/j4schema.xml
/component/zzz_fof
/component/zzz_strapper
release/*